:root {
    --cool-grey: #16161a;
    --cool-grey-2:  #242629;
    /*--cool-grey:    #0d274f;*/
    --cool-purple:  #4d63cb;
    /*--cool-blue:  #3c5892;*/
    --cool-blue:    #1b50a4ff;
    --shiny-blue:   #1678FF;
    
}

html,
body {
    width: 100%;
    margin: 0px;
    font-family: DM Sans, proxima-nova, Georgia, sans-serif;
    font-weight: 400;
}

.container {
    margin: auto;
    display:  flex;
    justify-content: center;
}

.buffer {
    height: 5.4em;
    width: 100%;
    visibility: hidden;
}

header {
    width: 100%;
    margin: 0px;
    padding: 10px 0px;
    font-size: 1em;
    line-height: 3em;
    background: var(--cool-grey);
    z-index: 2;
}


nav {
    display: flex; 
    justify-content: space-between; 
    margin: 0px 20px;
}

.sticky {
    position: sticky;
    top: 0; 
}

a {
    color: white;
    margin: 0px 10px;
    text-decoration: none;
}

a:hover {
    color: var(--shiny-blue);
}

.cover-container {
    width: 100%;
    height: 70vh;
    display: flex;
    align-items: center;
    justify-content: center;  
}

.cover-container::before {
    width: 100%;
    height: 70vh;
    content: '';
    position: absolute;
    filter: grayscale(100%);
    background-image: url("assets/cover_img_3.jpg");
    background-size: cover;
    background-attachment: fixed;*/
    background-position: bottom;
    z-index: -1; 
}

.cover-frame {
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    padding: 20px;
    border: 2px solid white;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: border-color 1s;
}

.cover-frame:hover {
    border-color: var(--shiny-blue);
}

.vr {
    height: 85%;
    border: 5px solid white;
    border-radius: 2px;
    margin: 0px 5%;
    padding: 0;
    transition: border-color 0.5s;
}

.vr:hover {
    border-color: var(--shiny-blue);
}

.cover-img {
/*    animation: 0.5s ease-in-out 0s 1 appear;*/
}

.cover-text {
    width: 50%;
    padding: 0px 20px;
    /*color: #7CB3FF;*/
    color: white;
    font-size: 5em;
    font-weight: 700;
    text-transform: uppercase;
    /*animation: 0.2s ease-in-out 0s 1 appear;*/
    z-index: 1;
    transition: color 0.5s;
}

.cover-text:hover,
.vr:hover {
    color: var(--shiny-blue);
}

.text-left {
    text-align: left;
}

.text-right {
    text-align: right;
}


@media only screen and (max-width: 930px ) {
    header{
        font-size: 1.4em;
    }
    .cover-img {
        max-width: 85%;
        height: auto;
    }
    .cover-text {
        color: green;
        font-size: 4em;
    }
}


@keyframes appear {
  0% {
    transform: scale(0.8);
    opacity: 0.2;
  }
  100% {
    transform: scale(1.0);
    opacity: 1;
  }
}

.grid-container {
    background: var(--cool-grey-2);
    /*background-image: url("assets/cover_img_3.jpg");
    background-attachment: fixed;
    background-size: cover;*/
    width: 100%;
    max-width: 100vw;
    padding: 20px 0px;
    display: flex;
    align-items: center;
    justify-content: center;
}

.grid-main {
    width: inherit;
    display: grid;
    padding: 20px;
    grid-gap: 30px;
    grid-template-columns: repeat(auto-fill, minmax(350px, 1fr));
    /*grid-template-columns: 1fr 1fr 1fr 1fr;*/
    /*grid-template-rows: 2fr;*/
    align-items: center;
}

.grid-element {
    /*background: #414149;*/
    background: var(--cool-blue);
    border: 2px solid grey;
    border-radius: 3px;
    padding: 20px;
    height: 400px;
    
    display: flex;
    justify-content: center;
    align-items: center;

    transition: all 0.2s ease-in-out;
    animation: 0.5s ease-in-out 0s 1 appear;
}

.grid-element:hover {
    -webkit-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -moz-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    -o-box-shadow:rgba(0,0,0,0.8) 0px 5px 15px, inset rgba(0,0,0,0.15) 0px -10px 20px;
    box-shadow:rgba(255,255,255,0.8) 0px 5px 15px, inset rgba(255,255,255,0.15) 0px -10px 20px;
} 

.icon{
    width: 35%;
    filter: grayscale(100%)  brightness(0.50);
}

footer {
    background-color: var(--cool-grey);
    color: var(--shiny-blue);
    font-size: 1.5em;
    text-align: center;
    padding: 20px;
}



/*https://paulund.co.uk/how-to-create-shiny-css-buttons*/
/***********************************************************************
 *  Green Background
 **********************************************************************/
.green{
    background: #56B870; /* Old browsers */
    background: -moz-linear-gradient(top, #56B870 0%, #a5c956 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#56B870), color-stop(100%,#a5c956)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #56B870 0%,#a5c956 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #56B870 0%,#a5c956 100%); /* IE10+ */
    background: linear-gradient(top, #56B870 0%,#a5c956 100%); /* W3C */
}

/***********************************************************************
 *  Red Background
 **********************************************************************/
.red{
    background: #C655BE; /* Old browsers */
    background: -moz-linear-gradient(top, #C655BE 0%, #cf0404 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#C655BE), color-stop(100%,#cf0404)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #C655BE 0%,#cf0404 100%); /* IE10+ */
    background: linear-gradient(top, #C655BE 0%,#cf0404 100%); /* W3C */
}

/***********************************************************************
 *  Yellow Background
 **********************************************************************/
.yellow{
    background: #F3AAAA; /* Old browsers */
    background: -moz-linear-gradient(top, #F3AAAA 0%, #febf04 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#F3AAAA), color-stop(100%,#febf04)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* IE10+ */
    background: linear-gradient(top, #F3AAAA 0%,#febf04 100%); /* W3C */
    background: var(--cool-purple);
}

/***********************************************************************
 *  Blue Background
 **********************************************************************/
.blue{
    background: #7abcff; /* Old browsers */
    background: -moz-linear-gradient(top, #7abcff 0%, #60abf8 44%, #4096ee 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#7abcff), color-stop(44%,#60abf8), color-stop(100%,#4096ee)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* IE10+ */
    background: linear-gradient(top, #7abcff 0%,#60abf8 44%,#4096ee 100%); /* W3C */
    background: var(--cool-grey);
}

/***********************************************************************
 *  Purple Background
 **********************************************************************/
.purple {
    background: #A88BEB; /* Old browsers */
    background: -moz-linear-gradient(top, #A88BEB 0%, #F1A7F1 44%, #F8CEEC 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#A88BEB), color-stop(44%,#F1A7F1), color-stop(100%,#F8CEEC)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* IE10+ */
    background: linear-gradient(top, #A88BEB 0%,#F1A7F1 44%,#F8CEEC 100%); /* W3C */
}

/***********************************************************************
 *  Brown Background
 **********************************************************************/
.brown {
    background: #f6e6b4; /* Old browsers */
    background: -moz-linear-gradient(top, #f6e6b4 0%, #ed9017 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,#f6e6b4), color-stop(100%,#ed9017)); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* IE10+ */
    background: linear-gradient(top, #f6e6b4 0%,#ed9017 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#f6e6b4', endColorstr='#ed9017',GradientType=0 ); /* IE6-9 */
}
